@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.sort-btn .material-symbols-outlined {
  font-size: 1.6rem;
  color: var(--text-default);
}

.column-add-btn .material-symbols-outlined {
  font-size: 3.2rem;
  color: var(--text-white-default);
}
.undo-btn .material-symbols-outlined,
.redo-btn .material-symbols-outlined {
  font-size: 3.2rem;
  color: var(--grayscale-600);
}

.task-add-btn.material-symbols-outlined,
.column-remove-btn.material-symbols-outlined,
.task-remove-btn.material-symbols-outlined,
.task-edit-btn.material-symbols-outlined {
  font-size: 2.2rem;
  color: var(--text-weak);
}

.history-close-icon.material-symbols-outlined {
  color: var(--text-default);
  font-size: 1.6rem;
}

.task-add-btn.material-symbols-outlined:hover,
.task-edit-btn.material-symbols-outlined:hover {
  color: var(--surface-brand);
}
.column-remove-btn.material-symbols-outlined:hover,
.task-remove-btn.material-symbols-outlined:hover {
  color: var(--text-danger);
}
