#header-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 6.4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem 8rem 0rem 8rem;
  box-sizing: border-box;
  background-color: var(--surface-alt);
  h1 {
    font: var(--display-bold-24);
  }
}

.header-left-content {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5rem;
  p {
    font: var(--display-bold-24);
  }
}

.sort-btn {
  display: flex;
  justify-content: space-around;
  width: 7.5rem;
  height: 2.4rem;
  border: 1px solid var(--border-bord);
  border-radius: var(--number-100);
  padding: 0 var(--number-100);
}

.sort-btn-text {
  font: var(--display-medium-12);
  color: var(--text-bold);
}

#fab-container {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: var(--number-900);
    box-shadow: var(--shadow-nomal);
  }
}

.column-add-btn {
  background-color: var(--surface-brand);
}
.undo-btn,
.redo-btn {
  background-color: var(--surface-default);
}

#task-board-container {
  overflow-x: visible;
  min-width: 100%;
  display: flex;
  align-items: start;
  gap: 2%;
  padding-bottom: 5rem;
}

.task-column-wrapper {
  width: fit-content;
  margin-top: 2rem;
}

.task-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
}

.task-column-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.7rem;
  box-sizing: border-box;
}

.task-column-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font: var(--display-bold-16);
  color: var(--text-bold);
}

.edit-column-input {
  width: 20.4rem;
  height: 2.4rem;
  background-color: var(--surface-default);
  border: 1px solid var(--borer-default);
  font: var(--display-medium-14);
  color: var(--text-strong);
  padding: 0 0.8rem;
}

.task-count {
  width: 2.4rem;
  height: 2.4rem;
  font: var(--display-medium-12);
  color: var(--text-weak);
  border: 1px solid #eff0f6;
  border-radius: var(--number-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--number-50);
  box-sizing: border-box;
}

.editing .task-count {
  display: none;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 60vh;
  gap: 1rem;
  margin-top: 1.5rem;
}

.task-input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32rem;
  height: fit-content;
  background-color: var(--surface-default);
  box-shadow: var(--shadow-nomal);
  border-radius: var(--number-100);
  font-size: 1.4rem;
  padding: var(--number-200);
  gap: var(--number-200);
  box-sizing: border-box;
  textarea {
    height: 1.7rem;
  }
}

.task-input-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.task-edit-buttons {
  width: 100%;
  display: flex;
  gap: 0.8rem;
}

.task-cancel-btn,
.task-save-btn {
  width: 14rem;
  height: 3.2rem;
  border-radius: var(--number-100);
  padding: 0 var(--number-100);
}

.task-cancel-btn {
  background-color: var(--surface-alt);
  font: var(--display-bold-14);
  color: var(--text-default);
}

.task-save-btn {
  background-color: var(--surface-brand);
  font: var(--display-bold-14);
  color: var(--text-white-default);
  opacity: 0.3;
  cursor: not-allowed;
}

.task-save-btn.enabled {
  cursor: pointer;
  opacity: 1;
}

.task-save-btn.enabled:hover {
  opacity: 0.8;
}

.task-item-wrapper {
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32rem;
  height: 10.4rem;
  background-color: var(--surface-default);
  box-shadow: var(--shadow-nomal);
  border-radius: var(--number-100);
  font-size: 1.4rem;
  padding: var(--number-200);
  box-sizing: border-box;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
}

.task-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: var(--number-200);
}

.task-title-and-desription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.task-content-title {
  font: var(--display-bold-14);
  color: var(--text-strong);
}

.task-content-title::placeholder {
  color: var(--text-strong);
}

.task-content-description {
  font: var(--display-medium-14);
  color: var(--text-default);
}

.task-content-author {
  font: var(--display-medium-12);
  color: var(--text-weak);
}
