input,
textarea,
button,
p {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: var(--font-primary);
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

button {
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-align: center;
}

input {
  display: inline-block;
  text-align: left;
  background-color: transparent;
  border: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  background: transparent;
  border: none;
}

input,
button {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  appearance: none;
  border-radius: 0;
}
